GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 15;
}

enterTransition {
    --edge-color: rgb(255, 0, 0);
    --edge-width: 10;
    --color: rgb(255, 0, 0);
}

.hidden {
    display: none;
}
